{% extends 'base.html' %}

{% load static %}

{% block title %} About {% endblock %}

{% block content %}


<section class="main_section">
    <div data-aos="zoom-in" class="about_contact_img">
        <img src="https://i.postimg.cc/MG97Gskd/about-contact-img.jpg" alt="img">
    </div>
    </div>
</section>


<div class="about_me">
    <h4 data-aos="fade-up">MORE ABOUT <br>
        MUBASHIR PALAPADIYAN</h4>





    <p data-aos="fade-up" class="about_dis">
        I AM MUBASHIR, A DEDICATED FULL STACK DEVELOPER CURRENTLY ADVANCING MY EDUCATION IN BACHELOR OF
        COMPUTER
        APPLICATIONS (BCA) AT CALICUT UNIVERSITY.
    </p>

    <p data-aos="fade-up" class="about_quote">
        Residing in Wayanad, Kerala, I am committed to crafting exceptional digital experiences through my
        expertise in both front-end and back-end development. With a keen eye for detail and a passion for
        problem-solving, I continuously strive to deliver high-quality solutions that meet client objectives
        and exceed expectations.
        <br><br>
        Let's collaborate and bring your vision to fruition
    </p>

</div>


<div data-aos="zoom-in" class="card">
    <p>
        <strong> MOTIVATION</strong><br><br>

        MORE THAN A JOB, WEB DESIGN IS AN OUTLET FOR YOUR VISION. YOU HAVE THE POWER TO TAKE AN IDEA FROM CONCEPT TO
        REALITY. YOUR SITES CAN TELL A STORY, "SHOW OFF A BRAND", OR CHANGE LIVES. AS THE WEB EXPANDS, SO DO THE
        POSSIBILITIES. YOU ALSO HAVE THE FLEXIBILITY TO WORK REMOTELY OR IN A FUN AGENCY SETTING. AND NOTHING BEATS
        THE RUSH OF SEEING YOUR LIVE SITES IN ACTION. <br><br>


        AS A WEB DESIGNER, YOU GET TO BLEND ART AND TECHNOLOGY TO CREATE "DIGITAL EXPERIENCES" THAT INFORM,
        ENTERTAIN, AND INSPIRE. EVERY DAY IS DIFFERENT - ONE DAY YOU MAY BE SKETCHING SITE LAYOUTS ON PAPER, THE
        NEXT YOU'RE CODING UP RESPONSIVE PAGE TEMPLATES. WEB DESIGN KEEPS YOU ON YOUR TOES!


    </p><br>

    <section class="l-card__user">
        <div class="l-card__userImage">
            <img src="https://i.postimg.cc/LXd2wmwK/profile-img.png" alt="img">
        </div>
        <div class="l-card__userInfo">
            <span>MUBASHIR</span>
            <span>Palapadiyan</span>
        </div>
    </section>
</div>




{% endblock %}